In [1]:
NAME = "ex11_ex16"
NUM_CLASSES = 13

# 疑似ラベルに使う用に確信度の高いtestデータだけ抽出する

In [2]:
import glob
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score

In [3]:
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
inf_cv_csvs = glob.glob(f"inf_cv/*_inf_cv_seed*")
inf_test_csvs = glob.glob(f"inf_test/*_inf_test_seed*")

In [5]:
logit_th = 0.7

# oof check

In [6]:
logit_sum = None
pred_onehot_sum = None
for c in inf_cv_csvs:
    df = pd.read_csv(c).sort_values(by="image_id")
    
    logit = df[[str(i) for i in range(NUM_CLASSES)]].values
    pred = logit.argmax(1)
    
    logit_sum = logit if logit_sum is None else logit_sum + logit
    pred_onehot_sum = np.eye(NUM_CLASSES)[pred] if pred_onehot_sum is None else pred_onehot_sum + np.eye(NUM_CLASSES)[pred]
    
logit_sum = pd.DataFrame(logit_sum)
pred_onehot_sum = pd.DataFrame(pred_onehot_sum)

label = df["label"].values

In [7]:
logit_sum["big_logit"] = logit_sum.apply(lambda row: 1 if max(row) >=  logit_th * len(inf_cv_csvs) else 0 , axis=1)
logit_sum

,0,1,2,3,4,5,6,7,8,9,10,11,12,big_logit
0,0.048266,0.048149,0.260114,0.149246,0.219075,4.446380,0.007021,0.030451,0.046244,0.062171,0.035156,0.546128,0.101598,1
1,0.047434,0.318251,0.145180,0.137236,0.155666,0.108793,0.278606,0.005282,0.010501,0.373284,0.235871,3.019637,1.164259,0
2,0.013016,0.010684,0.053369,0.005189,0.006216,0.033649,0.046194,0.015576,5.708686,0.012324,0.061275,0.021835,0.011986,1
3,0.013148,0.043185,0.378299,0.005715,0.086470,4.732909,0.022278,0.008359,0.015183,0.391139,0.026645,0.069764,0.206907,1
4,0.690932,0.061152,1.020601,0.016478,0.355291,0.243142,1.287351,0.077838,0.021360,0.333542,0.062508,1.513232,0.316572,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,0.027272,0.011633,5.566084,0.033468,0.019113,0.025997,0.007309,0.172545,0.070511,0.007060,0.018291,0.030474,0.010242,1
650,0.034041,0.011002,0.269732,5.435216,0.099460,0.029035,0.036483,0.015797,0.019548,0.001495,0.004283,0.025284,0.018625,1
651,0.012780,0.020362,5.463628,0.017435,0.073581,0.098970,0.136795,0.037666,0.021683,0.025172,0.008022,0.065392,0.018516,1
652,5.549494,0.040718,0.121040,0.085287,0.023638,0.026861,0.037254,0.006342,0.019641,0.011119,0.017473,0.039072,0.022061,1
653,0.817266,0.040361,0.545573,0.031037,0.014663,3.274501,0.183444,0.033765,0.652011,0.113796,0.024205,0.258794,0.010583,0

In [8]:
pred_label = pred_onehot_sum.apply(lambda row: row.argmax(), axis=1)
pred_onehot_sum["pred_all_same"] = pred_onehot_sum.apply(lambda row: 1 if max(row) == len(inf_cv_csvs) else 0, axis=1)
pred_onehot_sum["pred_label"] = pred_label
pred_onehot_sum

,0,1,2,3,4,5,6,7,8,9,10,11,12,pred_all_same,pred_label
0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,0,11
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,1,8
3,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5
4,2.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2
650,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3
651,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2
652,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
653,0.0,0.0,1.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,5

In [9]:
df = pd.DataFrame({"label": label})
df = df.join(logit_sum[["big_logit"]])
df = df.join(pred_onehot_sum[["pred_label", "pred_all_same"]])
df

     label  big_logit  pred_label  pred_all_same
0        5          1           5              1
1       11          0          11              0
2        8          1           8              1
3        5          1           5              1
4        0          0           0              0
..     ...        ...         ...            ...
649      2          1           2              1
650      3          1           3              1
651      2          1           2              1
652      0          1           0              1
653      5          0           5              0

[654 rows x 4 columns]

In [10]:
accuracy_score(df["label"], df["pred_label"])

0.7920489296636085

In [11]:
_df = df[df["pred_all_same"] == 0]
print(_df.shape)
accuracy_score(_df["label"], _df["pred_label"])

(352, 4)

0.6136363636363636

In [12]:
_df = df[df["pred_all_same"] == 1]
print(_df.shape)
accuracy_score(_df["label"], _df["pred_label"])

(302, 4)

1.0

In [13]:
_df = df[df["big_logit"] == 1]
print(_df.shape)
accuracy_score(_df["label"], _df["pred_label"])

(342, 4)

0.9707602339181286

In [14]:
_df = df[(df["big_logit"] == 0) & (df["pred_all_same"] == 1)]
print(_df.shape)
accuracy_score(_df["label"], _df["pred_label"])

(15, 4)

1.0

In [15]:
_df = df[(df["big_logit"] == 1) & (df["pred_all_same"] == 1)]
print(_df.shape)
accuracy_score(_df["label"], _df["pred_label"])

(287, 4)

1.0

In [16]:
_df = df[(df["big_logit"] == 1) & 
         (df["pred_all_same"] == 1) & 
         (~df["pred_label"].isin([1,3,4]))
        ]
print(_df.shape)
accuracy_score(_df["label"], _df["pred_label"])

(263, 4)

1.0

In [17]:
_df = df[(df["big_logit"] == 1) & 
         (df["pred_all_same"] == 1) & 
         (df["pred_label"].isin([0,6,7,8,9,11]))
        ]
print(_df.shape)
accuracy_score(_df["label"], _df["pred_label"])

(132, 4)

1.0

# test check

In [18]:
logit_sum = None
pred_onehot_sum = None
for c in inf_test_csvs:
    df = pd.read_csv(c).sort_values(by="image_id")
    
    logit = df[[str(i) for i in range(NUM_CLASSES)]].values
    pred = logit.argmax(1)
    
    logit_sum = logit if logit_sum is None else logit_sum + logit
    pred_onehot_sum = np.eye(NUM_CLASSES)[pred] if pred_onehot_sum is None else pred_onehot_sum + np.eye(NUM_CLASSES)[pred]
    
logit_sum = pd.DataFrame(logit_sum)
pred_onehot_sum = pd.DataFrame(pred_onehot_sum)

logit_sum["big_logit"] = logit_sum.apply(lambda row: 1 if row.max() >= logit_th * len(inf_test_csvs)  else 0 , axis=1)
#display(logit_sum.style.background_gradient(cmap="Blues"))

pred_label = pred_onehot_sum.apply(lambda row: row.argmax(), axis=1)
pred_onehot_sum["pred_all_same"] = pred_onehot_sum.apply(lambda row: 1 if max(row) == len(inf_test_csvs) else 0, axis=1)
pred_onehot_sum["pred_label"] = pred_label
#display(pred_onehot_sum.style.background_gradient(cmap="Blues"))

df = logit_sum[["big_logit"]]
df = df.join(pred_onehot_sum[["pred_label", "pred_all_same"]])
df

     big_logit  pred_label  pred_all_same
0            0           2              0
1            0          11              1
2            1          10              1
3            0           3              0
4            0           1              0
..         ...         ...            ...
492          1           2              1
493          0           2              1
494          1           8              1
495          1           6              1
496          0          11              1

[497 rows x 3 columns]

In [19]:
_df = df[df["pred_all_same"] == 0]
print(_df.shape)

(171, 3)

In [20]:
_df = df[df["pred_all_same"] == 1]
print(_df.shape)

df_tmp = pd.read_csv(inf_test_csvs[0]).sort_values(by="image_id")[["image_id", "file_path"]]

_df = _df.reset_index().rename(columns={'index':'image_id'})
_df = pd.merge(df_tmp, _df, on="image_id")
_df[["image_id", "file_path", "pred_label"]].to_csv(f"{NAME}_big_logit_test_pred_all_same1.csv", index=False)

#_df[["image_id", "file_path", "pred_label"]]

(326, 3)

In [21]:
_df = df[df["big_logit"] == 1]
print(_df.shape)

(241, 3)

In [22]:
_df = df[(df["big_logit"] == 0) & (df["pred_all_same"] == 1)]
print(_df.shape)

(86, 3)

In [23]:
_df = df[(df["big_logit"] == 1) & (df["pred_all_same"] == 1)]
print(_df.shape)

df_tmp = pd.read_csv(inf_test_csvs[0]).sort_values(by="image_id")[["image_id", "file_path"]]

_df = _df.reset_index().rename(columns={'index':'image_id'})
_df = pd.merge(df_tmp, _df, on="image_id")
_df[["image_id", "file_path", "pred_label"]].to_csv(f"{NAME}_big_logit_test.csv", index=False)

#_df[["image_id", "file_path", "pred_label"]]

(240, 3)

In [24]:
_df = df[(df["big_logit"] == 1) & 
         (df["pred_all_same"] == 1) & 
         (~df["pred_label"].isin([1,3,4]))
        ]
print(_df.shape)

df_tmp = pd.read_csv(inf_test_csvs[0]).sort_values(by="image_id")[["image_id", "file_path"]]

_df = _df.reset_index().rename(columns={'index':'image_id'})
_df = pd.merge(df_tmp, _df, on="image_id")
_df[["image_id", "file_path", "pred_label"]].to_csv(f"{NAME}_big_logit_test_isnot134.csv", index=False)

#_df[["image_id", "file_path", "pred_label"]]

(234, 3)

In [25]:
_df = df[(df["big_logit"] == 1) & 
         (df["pred_all_same"] == 1) & 
         (df["pred_label"].isin([0,6,7,8,9,11]))
        ]
print(_df.shape)

df_tmp = pd.read_csv(inf_test_csvs[0]).sort_values(by="image_id")[["image_id", "file_path"]]

_df = _df.reset_index().rename(columns={'index':'image_id'})
_df = pd.merge(df_tmp, _df, on="image_id")
_df[["image_id", "file_path", "pred_label"]].to_csv(f"{NAME}_big_logit_test_is06789_11.csv", index=False)

#_df[["image_id", "file_path", "pred_label"]]

(131, 3)